.footerButtonModal {
  color: #a3a3a3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}