.parallax {
  height: 120vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 0 0;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  z-index: -1;
}

.parallaxImage {
  height: 120vh;
  object-fit: cover;
  width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-out;
}

.active {
  transform: translateY(50%);
}