// Hero
.hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 40px;
  background-color: #020303;
  position: relative;
  height: 95vh;
  overflow: hidden;

  @media (max-width: 768px) {
    background-position: center;
    background-size: cover;
  }
}

.heroLogo {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
  z-index: 1;
  // aspect-ratio: 427/274;

  img {
    max-width: 450px;
    height: auto;
  }

  @media (max-width: 1010px) {
    left: 10%;
  }

  @media (max-width: 900px) {
    left: 5%;

    img {
      max-width: 350px;
    }
  }

  @media (max-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.heroImage {
  width: auto;
  height: 95vh;
  position: absolute;
  top: 0;
  right: -15%;

  @media (max-width: 768px) {
    right: 50%;
    transform: translateX(50%);
  }
}
// Hero end

// Parallax
.parallax {
  background-image: url('../../assets/images/HolyFest.jpg');
    /* Full height */
  height: 40vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 980px) {
  .parallax {
    // background-attachment: scroll;
    background-size: contain;
  }
}
// Parallax end

// About
.about {
  background-color: #020303;
  position: relative;
  height: 70vh;
  overflow: hidden;

  @media (max-width: 768px) {
    background-position: center;
    background-size: cover;
  }
}

.aboutBlock {
  position: relative;
  height: 70vh;
}

.aboutImage {
  width: auto;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
}

.aboutBlockContent {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 510px;
}

.aboutTitle {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.aboutText {
  color: #c0c0c0;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  flex-wrap: wrap;

  span {
    opacity: 0.5;
  }

  p {
    font-size: 18px;
    line-height: 130%;
    margin-right: 8px;
  }
}
// Aboout end