.hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 40px;
  background-color: #020303;
  position: relative;
  height: 95vh;
  overflow: hidden;

  @media (max-width: 768px) {
    background-position: center;
    background-size: cover;
  }
}

.heroLogo {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
  z-index: 1;
  // aspect-ratio: 427/274;

  img {
    max-width: 450px;
    height: auto;
  }

  @media (max-width: 1010px) {
    left: 10%;
  }

  @media (max-width: 900px) {
    left: 5%;

    img {
      max-width: 350px;
    }
  }

  @media (max-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.heroImage {
  width: auto;
  height: 95vh;
  position: absolute;
  top: 0;
  right: -15%;
}