.videos {
  // background-color: rgba(16, 16, 16, 1);
  // background-image: linear-gradient(180deg, rgba(16, 16, 16, 1) 0%, rgba(16, 16, 16, 1) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(16, 16, 16, 1) 80%, rgba(16, 16, 16, 1) 100%);
  background-color: #131313;
  padding-top: clamp(3.125rem, 1.307rem + 9.09vw, 8.125rem);
  padding-bottom: clamp(3.125rem, 1.307rem + 9.09vw, 8.125rem);
  position: relative;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 980px) {
  .videos {
    // background-attachment: scroll;
    background-size: contain;
  }
}

.title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
}