.videos {
  background-color: rgba(57, 53, 65, 1);
  background-image: linear-gradient(180deg, rgba(57, 53, 65, 1) 0%, rgba(16, 16, 16, 1) 38%, rgba(16, 16, 16, 1) 66%, rgba(20, 19, 25, 1) 76%);
  padding: 130px 0;
  position: relative;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 980px) {
  .videos {
    // background-attachment: scroll;
    background-size: contain;
  }
}

// .videosWrapper {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
}