/* ======= ScrollBar ======= */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555265;
  margin: 0;
  padding: 0;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #020203;
  /* border-radius: 2px; */
}

*::-webkit-scrollbar-thumb {
  background-color: #555265;
  /* border-radius: 14px; */
  border: 2px solid #555265;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555265;
}
/* ======= End ScrollBar ======= */

html {
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f5f5f5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}