.contact {
  // position: relative;
  // height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactBg {
  object-fit: cover;
  width: 100%;
  height: 90vh;
}

.contactWrapper {
  max-width: 750px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  // left: 50%;
  transform: translateY(-25%);
  padding: 50px 100px;
  background: rgba(0, 3, 4, 0.21);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);

  @media (max-width: 768px) {
    padding: 50px 30px;
    width: 90%;
  }

  @media (max-width: 650px) {
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
}