.contact {
  padding: 130px 0;
  position: relative;
  background-color: #221c18;
}

.contactWrapper {
  max-width: 750px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
}