.form {
  display: flex;
  flex-direction: column;
  // max-width: 400px;
  margin: 0 auto;

  > div {
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
      
  }
}

.inputData {
  position: relative;
  width: 100%;
  height: 40px;
}

.textarea {
  height: 80px; // Change this value to adjust the height of the textarea

  /* Hide the scrollbar for both vertical and horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  @media (max-width: 490px) {
    height: 80px; // Change this value for mobile devices if needed
  }
}

.inputData input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 17px;
  // border-radius: 40px;
  // border-bottom: 1px solid #FFF;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 20px 40px; /* Установите внутренние отступы здесь */
  box-sizing: border-box;
  
}

.inputData .label {
  position: absolute;
  pointer-events: none;
  bottom: 8px;
  left: 20px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease;
  color: #fff;
}

.inputData .label.focused {
  transform: translateY(-25px);
  font-size: 10px;
  background-color: inherit;
}

.inputData .labelTextarea {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 20px;
  font-size: 14px;
  height: fit-content;
  transition: all 0.3s ease;
  color: #fff;
}
.inputData .labelTextarea.focused {
  transform: translateY(-25px);
  font-size: 10px;
  background-color: inherit;
}

.textarea label {
  // width: 100%;
  bottom: 40px;

  @media (max-width: 490px) {
    bottom: 10px;
  }
}

.inputData .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData input:focus ~ .underline:before,
.inputData input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.buttonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 20px;
  font-family: inherit;
  font-size: 20px;
  background: transparent;
  color: white;
  padding: 0.7em 2.5em;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  border: none;
  border: 1px solid #fff;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svgWrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
  transform: translateX(1.7em) rotate(45deg) scale(1.1);
}

.button:hover span {
  transform: translateX(5em);
}

.button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


.popup {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  -moz-box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  transition: all 0.3s ease;
}

.popupWrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popupTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
}

.popupMessage {
  font-size: 16px;
  color: #000;
}

.errorMessage {
  color: red;
  position: absolute;
  bottom: -20px;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal appears above other content */
}

.messagePopup {
  width: 70%; /* Adjust the width of the popup as needed */
  max-width: 400px; /* Optional: Set a maximum width for the popup */
  background-color: #141319;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  transition: all 0.3s ease;
}

.messageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.messageTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.messageText {
  font-size: 16px;
}